@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.title {
	font-family: 'Vollkorn', serif;
}